<!DOCTYPE html>
<html>

<head>
    <title>Mein Formular</title>
</head>

<body>
    <h1>Formular</h1>
    <form method="POST" action="/create-address-qr-code">
        <label for="name">Your Name:</label>
        <input type="text" id="ssid" name="ssid" value="your name" required><br><br>

        <label for="email">Your E-Mail:</label>
        <input type="text" id="email" name="email" value="your email" required><br><br>

        <label for="url">Url:</label>
        <input type="text" id="url" name="url" value="url" required><br><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" value="phone" required><br><br>

        <input type="submit" value="Absenden">
    </form>
</body>

</html>