<!DOCTYPE html>
<html>

<head>
    <title>Mein Formular</title>
</head>

<body>
    <h1>Formular</h1>
    <form method="POST" action="/create-wifi-qr-code">
        <label for="name">SSID:</label>
        <input type="text" id="ssid" name="ssid" value="your wifi name" required><br><br>

        <label for="email">Password:</label>
        <input type="text" id="password" name="password" value="your password" required><br><br>

        <label for="email">Security:</label>
        <input type="text" id="security" name="security" value="WPA2" required><br><br>

        <input type="submit" value="Absenden">
    </form>
</body>

</html>